@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
@keyframes penis {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.penis {
  animation: spin 1s linear infinite;
}
